<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>在庫商品登録</title>
</head>
<body>
	<div class="container">
		<h1>在庫商品登録</h1>
		<form th:action="@{/user/update}" th:object="${add2}"
			th:method="post">							
			
			<div class="form-group">
				<label>在庫ID：</label> <input type="text" placeholder="在庫IDを入力してください"
					th:field="*{id}" class="form-control">
			</div>
			<div class="form-group">
				<label>在庫名称：</label> <input type="text" placeholder="在庫名称を入力してください"
					th:field="*{name}" class="form-control">
			</div>
			<div class="form-group">
				<label for="deptId">単位：</label> <select id="deptId"
					class="form-control" th:field="*{unitId}">
					<option value="0">選択してください</option>
					<option value="1">個</option>
					<option value="2">台</option>
					<option value="3">本</option>
					<option value="4">冊</option>
					<option value="5">皿</option>
					<option value="6">箱</option>
					<option value="7">足</option>
					<option value="8">件</option>
				</select>
			</div>
			<div class="form-group">
				<label>備考:</label> <input type="text" th:field="*{remarks}"
					class="form-control">
			</div>
			<div class="text-center">
				<input type="submit" value="　登録　" class="btn btn-primary"> <a
					href="/user/list" class="btn btn-secondary">閉じる</a>
			</div>
		</form>
	</div>
</body>

</html>