<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 
*author:フォン
*date  :2024/01/24
*在庫更新、登録用画面単独用のHTML
 -->
<head>
<meta charset="UTF-8">
<title>在庫商品登録</title>
</head>
<body>
	<div class="container">
		<h1>在庫商品登録</h1>
		<form th:object="${stockAddSavedateRequest}" id="addForm">
			<!--↑這裡必須要跟controll檔案設定的網址一樣  -->
			<div class="form-group">
				<label>在庫ID：</label> <input type="text" placeholder="在庫IDを入力してください"
					th:field="*{id}" class="form-control" readonly>
			</div>
			<div class="form-group">
				<label>在庫名称：</label> <input type="text" placeholder="在庫名称を入力してください"
					th:field="*{name}" class="form-control">
			</div>
			<div class="form-group">
				<label for="deptId">単位：</label> <select id="deptId"
					class="form-control" th:field="*{unitId}">
					<option value="0">選択してください</option>
					<option value="A01">袋</option>
					<option value="A02">台</option>
					<option value="A03">本</option>
					<option value="A04">冊</option>
					<option value="A05">皿</option>
					<option value="A06">箱</option>
					<option value="A07">足</option>
					<option value="A08">件</option>
				</select>
			</div>
			<div class="form-group">
				<label>備考:</label> <input type="text" th:field="*{remarks}"
					class="form-control">
			</div>
			<div class="text-center">
				<input id="mode" type="button" onclick="submitform('addForm','post')"
					th:value="${btn}" class="btn btn-primary">
				<!--  -->
				<a href="/user/list" class="btn btn-secondary">閉じる</a>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		function submitform(formid, method) {
			var mode = document.getElementById("mode").value;
			console.log(mode);
			var form = document.getElementById(formid);
			if (mode == "登録") {
				form.action = "/insert";
			} else if (mode == "更新") {
				form.action = "/update";
			}
			form.method = method;
			form.submit();
		}
	</script>
</body>

</html>