<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csc.api.dao.AddMapper" >

<!-- 
author:フォン
data:2024/01/23
 -->
 	<!-- 自動取得最大值id的機能條件設定 
 	因為新增id的時候通常都是從既有的id資料裡更新,不能已經有的id資料重複
 	所以必須從最大值開始
 	-->
	<select id="getMaxId" resultType="java.lang.Integer">
		SELECT MAX(id)+1 FROM t_stock
	</select>

	<!--儲存更新的檔案機能的條件設定-->
	<insert id="save">
		INSERT INTO t_stock
		(name,
		unit_id,
		remarks,
		create_user,
		update_user
		)
		VALUES
		(#{name},
		#{unitId},
		#{remarks},
		#{createUser},
		#{updateUser}
		)
	</insert>
	<update id="update">
		UPDATE t_stock SET name = #{name},
		unit_id = #{unitId},
		remarks =#{remarks},
		update_user ="test1"
		WHERE id = #{id}
	</update>

	<update id="delete">
		UPDATE t_stock SET del_flg = 1 WHERE id = #{id}
	</update>


</mapper>