<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>在庫情報一覧</title>
	<link rel="stylesheet" href="/css/styles.css">
	</link>
</head>

<!--
 * author: セツ
 * date:2024/1/17
-->

<body>
	<div class="container">
		<h1>在庫情報一覧</h1>

		<form th:action="@{/stock/search}" th:object="${stockSearchRequest}" th:method="post">
			<br>
			<div class="form-group">
				<label for="name">在庫名称</label>
				<input type="text" class="w-25 form-control" th:field="*{name}">

				<label for="unit">単位</label>
				<select th:field="*{unitId}">
					<option value="99">----</option>
					<option value="0">0.ピース</option>
					<option value="1">1.ボール</option>
					<option value="2">2.ケース</option>
				</select>
			</div>
			<br>
			<div>
				<label for="updateDate">更新日時</label>
				<input type="date" th:field="*{startDate}" name="upStartData">
				<label for="updateDate">～</label>
				<input type="date" th:field="*{endDate}" name="upEndData">
			</div>
			<br>
			<button type="submit" class="btn-primary">検索</button>
		</form>
		<div class="float-end">
			<a th:href="@{/stock/add}"><button type="submit" class="btn-secondary">追加</button></a>
			<a th:href="@{/stock/list}"><button type="submit" class="btn-secondary">閉じる</button></a>
		</div>
		<br>
		<div class="list-scroll">
			<table class="list-tablr">
				<thead>
					<tr>
						<th>在庫ID </th>
						<th>在庫名称</th>
						<th>単位</th>
						<th>在庫数量</th>
						<th>更新者</th>
						<th>更新日時</th>
						<th>備考</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="stock:${stocklist}" th:object="${stock}" class="align-middle">
						<td th:text="*{id}"></td>
						<td th:text="*{name}"></td>
						<td th:text="*{codeName}"></td>
						<td th:text="*{stockNum}"></td>
						<td th:text="*{updateUser}"></td>
						<td th:text="*{updateDate}"></td>
						<td th:text="*{remarks}"></td>
						<td>
							<a th:href="@{/stock/{id}/edit(id=*{id})}" class="btn btn-primary">編集</a>
							<a th:href="@{/stock/{id}/delete(id=*{id})}" class="btn btn-primary">削除</a>
							<a th:href="@{/storeio/entry}" class="btn btn-primary">入出庫</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</body>

</html>